################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/.vs/.vs/v17
/.vs/*
/LightingAndShadows/v17/*
